<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LicenseKey" value="5FF34-678E1-01012-078AC"/>
    <add key="EnableLogsInDB" value="true"/>
    <add key="BasePath" value="C:\Users\mohdziya\Desktop\Ziya\Export Test"/>
    <add key="MetadataXML" value="true"/>
    <add key="OBConnString" value="AppURL=; DataSource=; username=; password=; UseNTAuthentication=false"/>
  </appSettings>
  <connectionStrings>
    <add connectionString ="Server=localhost;Database=OB_Extraction; Trusted_Connection=True;" name="dbCon"/>
  </connectionStrings>
</configuration>